In [127]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd

In [143]:
driver = webdriver.Chrome(r'C:\Users\Asad\seowork\chromedriver.exe')
start_url = "https://www.novaloca.com/property-search-results/default.aspx?page=1&propertytypes=&saletypes=1&status=1&sizefrom=1&sizeto=500000%2b&sizetype=2&location=london&distance=30&addresskeyword=&excludeServicedOffices=False"
driver.get(start_url)

In [156]:
# Initialising empty lists    
size = [] 
desc = []
sale = []

while True:
    try:
        ids = driver.find_elements_by_xpath("//*[contains(@id,'property-')]") # Using Regex to extract all ids
        property_ids = []
        for i in ids:
            property_ids.append(i.get_attribute('id'))

        for x in property_ids:
        #     To extract sizes from each property-card
            size_test = driver.find_elements_by_xpath('//*[@id="'+x+'"]/div/div[1]/div[3]/div/div[1]/div/span/strong')[0]    
            size.append(size_test.text)

            desc_test = driver.find_elements_by_xpath('//*[@id="'+x+'"]/div/div[2]/h4')[0]
            desc.append(desc_test.text)

            sale_test = driver.find_elements_by_xpath('//*[@id="'+x+'"]/div/div[2]/p/span[2]')[0]
            sale.append(sale_test.text)
#     This is the pagination code
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.LINK_TEXT, "next >"))).click()
    except TimeoutException:
        break

In [157]:
df_data = pd.DataFrame({'prop_size':size,'prop_desc':desc,'prop_price':sale})

In [158]:
df_data

,prop_size,prop_desc,prop_price
0,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
1,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
2,"2,158 to 4,316 Sq Ft",Office Suites Finished To A High Specification...,
3,"1,113 Sq Ft",Self Contained Office Over Ground & Lower Grou...,"- £575,000.00"
4,"5,068 Sq Ft","Lower Ground Floor South, Nell Gwynn House, Dr...",
...,...,...,...
430,542 Sq Ft,"Shop With Flat Above In Prominent Location, 5 ...","- £180,000.00"
431,"6,032 Sq Ft","Sycamore House, 38-40 High Street, Cranleigh, ...","- £1,250,000.00"
432,"1,400 Sq Ft","Retail Premises with Offices Above, 202- 204 H...","- £495,000.00"
433,"1,448 Sq Ft","Retail Unit with Residential Above, 126 High S...","- £350,000.00"
434,"15,000 to 100,000 Sq Ft","Butterfield Business Park, Luton, LU2 8DD",