In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import pandas as pd
import time

Setting up the webdriver
Plus, running the browser headless

In [2]:
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("/Users/asadimam/ChromeDriver/chromedriver-2",options=chrome_options)

In [24]:
# This is where we initialise all the necessary variables and lists    
# These are empty lists
size = [] 
desc = []
sale = []
location = []

# These are the necessary variables to run the loop
prop_type = {
            'Offices':1,
            'Industrial':2,
            'Land':3,
            'Retail':4,
            'Leisure':5,
            'Other':6
                }
locations = ['london','reading','maidenhead']

In [19]:
# This is the scraping code

for x in locations:
        p= 1
        while True:
            url = 'https://www.novaloca.com/property-search-results/default.aspx?page={}&propertytypes=&saletypes=1&status=1&sizefrom=1&sizeto=500000%2b&sizetype=2&location={}&distance=30&addresskeyword=&excludeServicedOffices=False'.format(p,x)
            driver.get(url)
            time.sleep(3)
            p += 1
            try:
                # Test to see if we're on the last page
                test = driver.find_element_by_class_name('extra-details')

#                 print(f'this is {p} of {x}')

                # Execution Code For Every Page
                ids = driver.find_elements_by_xpath("//*[contains(@id,'property-')]")
                property_ids = []
                for i in ids:
                    property_ids.append(i.get_attribute('id'))
                    for j in property_ids:
                        #     To extract sizes from each property-card
                        size_test = driver.find_elements_by_xpath('//*[@id="'+j+'"]/div/div[1]/div[3]/div/div[1]/div/span/strong')[0]    
                        size.append(size_test.text)
                        desc_test = driver.find_elements_by_xpath('//*[@id="'+j+'"]/div/div[2]/h4')[0]
                        desc.append(desc_test.text)
                        sale_test = driver.find_elements_by_xpath('//*[@id="'+j+'"]/div/div[2]/p/span[2]')[0]
                        sale.append(sale_test.text)
                        location.append(x)

            except:
                break

In [21]:
df_properties = pd.DataFrame({'city':location,'prop_size':size,'prop_desc':desc,'prop_price':sale})

In [22]:
df_properties

,city,prop_size,prop_desc,prop_price
0,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
1,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
2,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
3,london,"1,695 to 4,645 Sq Ft","Office / Residential Opportunity, 40 Great Smi...","- £3,400,000.00"
4,london,"5,690 Sq Ft","B1 Unit or May Suit A1, A2, D1, D2 (STP), Pala...","- £2,250,000.00"
...,...,...,...,...
5556,london,542 Sq Ft,"Shop With Flat Above In Prominent Location, 5 ...","- £180,000.00"
5557,london,"6,032 Sq Ft","Sycamore House, 38-40 High Street, Cranleigh, ...","- £1,250,000.00"
5558,london,"1,400 Sq Ft","Retail Premises with Offices Above, 202- 204 H...","- £495,000.00"
5559,london,"1,448 Sq Ft","Retail Unit with Residential Above, 126 High S...","- £350,000.00"
5560,london,"15,000 to 100,000 Sq Ft","Butterfield Business Park, Luton, LU2 8DD",